<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="skeleton"/>

    <amq:connectionFactory id="jmsFactory" brokerURL="tcp://0.0.0.0:61616"/>

    <amq:queue id="inbound-trade-events" physicalName="inbound.trade.events"/>

    <amq:queue id="clearing-house-events" physicalName="clearing.house.events"/>

    <bean id="jmsTradeEventConnectionFactory"
          class="org.springframework.jms.connection.SingleConnectionFactory"
          p:targetConnectionFactory-ref="jmsFactory"/>

    <bean id="jmsMessageListener" class="skeleton.TradeEventReceiver">
    </bean>

    <jms:listener-container container-type="default" connection-factory="jmsTradeEventConnectionFactory">
        <jms:listener destination="inbound.trade.events" ref="jmsMessageListener"/>
    </jms:listener-container>


</beans>